* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-base-white: #fff;
  --color-base-grey: #c4c4cc;
  --color-base-different-white: #e1e1e6;
}

body {
  font-size: 1.6rem;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;

  padding: 4rem 40rem 4rem 7rem;
}

nav a {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;

  color: var(--color-base-grey);

  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin-top: -12.2rem;
}

.home h1 {
  color: var(--color-base-different-white);

  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
}

.universe h1,
.exploration h1,
.error h1 {
  color: var(--color-base-different-white);

  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;

  margin: 6rem 0 0 10rem;
}

.home button {
  border-radius: 0.5rem;
  border: 2px solid var(--color-base-white);

  background-color: transparent;
  color: var(--color-base-white);

  text-align: center;

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;

  padding: 1.2rem 3.2rem;
  margin-top: 2.4rem;

  cursor: pointer;
}

.universe p,
.exploration p {
  color: var(--color-base-different-white);

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  max-width: 63rem;

  text-align: justify;

  margin: 2rem 0 0 10rem;
}

.home {
  background: url("./assets/home.png") center/cover no-repeat fixed;
  height: 100vh;
}

.universe {
  background: url("./assets/universe.png") center/cover no-repeat fixed;
  height: 100vh;
}

.exploration {
  background: url("./assets/exploration.png") center/cover no-repeat fixed;
  height: 100vh;
}

.current-page {
  font-size: 2.4rem;
  font-weight: 700;

  color: var(--color-base-white);
}
